@import "variables";
@import "reset";
@import "fontawesome";

%clearfix {
	&::before, &::after{
		content: "";
		display: block;
		clear: both;
	}
}
@mixin content($sides){
	padding: 75px $sides;
}

.floats {
	.util-nav {
		@extend %clearfix;
		background-image: url(../img/patt1.png);
		h1 {
			color: $logo;
			float: left;
			margin-bottom: 0;
		}
		ul{
			float: right;
		}
		li {
			display: inline-block;
			float: left;
			i {
				margin: 0 10px;
				float: left;
				font-size: 2em;
				color: $comp;
			}
			div {
				float: left;
			}
		}
	}
	nav {
		background-color: $black;
		color: $white;
		li {
			display: inline-block;
			font-size: 1.1em;
			font-weight: 100;
			text-transform: uppercase;
			&:hover {
				background-color: $key;
			}
			a{
				display: block;
				padding: 25px 30px;
			}
		}
	}
	.cta {
		color: $white;
		background: {
			image: url(../img/page-1_slide2.jpg);
			size: cover;
			position: center;
		}
		padding: 100px 0;
		text-align: center;
		h2 {
			font-size: 2em;
			text-transform: uppercase;
		}
	}
	&.promos {
		@extend %clearfix;
		padding: 75px 5vw;
		div {
			width: 25%;
			float: left;
		}
	}
	&.features {
		@extend %clearfix;
		padding: 75px 5vw;
		text-align: center;
		div {
			width: 33.3333%;
			float: left;
			i {
				color: $comp;
				font-size: 3em;
				width: 3em;
				height: 3em;
				border: 1px solid $comp;
				border-radius: 50%;
				line-height: 3em;
				margin-bottom: 40px;
			}
		}
	}
	&.about {
        @include content(5vw);
        @extend %clearfix;
        div:first-child {
            width: 33%;
            float: left;
        }
        div:last-child {
            width: 66%;
            float: left;
        }
    }
    &.fixed1,
    &.fixed2 {
        padding: 150px 0;
        background:{
            image: url(../img/parallax1-1.jpg);
            size: cover;
            position: center;
            repeat: no-repeat;
            attachment: fixed;
        }
        h1 {
            text-align: center;
            color: $white;
            font-size: 4em;
            font-weight: 100;
        }
    }
    &.do {
        @extend %clearfix;
        @include content(5vw);
        h1 {
            color: $key;
            font-size: 4em;
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
        }
        div {
            padding: 5%;
            width: 33%;
            float: left;
            box-sizing: border-box;
            a {
            	color: $comp;
            	&:hover {
            		color: $key;
            	}
            }
        }
    }
    &.product {
        @include content(5vw);
        @extend %clearfix;
        background-color: $litgray;
        h3 {
            text-transform: uppercase;
            font-size: 2em;
        }
        img {
            width: 100%;
            height: auto;
        }
        div:first-child {
            width: 33%;
            float: left;
        }
        div:last-child {
            width: 66%;
            float: left;
        }
        .btn {
        	color: $white;
        	background-color: $key;
        	&:hover{
        		background-color: $white;
        		color: $key;
        		border: 1px solid $key;
        	}
        }
    }
    &.fixed2 {
        background-image: url(../img/parallax1.jpg);    
   }
    &.news {
        @extend %clearfix;
        @include content(5vw);
        h1 {
            color: $key;
            font-size: 4em;
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
        }
        div {
            padding: 5%;
            width: 33%;
            float: left;
            box-sizing: border-box;
            .btn {
            	color: $white;
            	background-color: $comp;
            	&:hover{
            		color: $comp;
            		background-color: $white;
            		border: 1px solid $comp;
            	}
            }
        }
    }
    &.hovers {
        @extend %clearfix;
        div {
            width: (100% / 7);
            height: (100vw / 7);
            float: left;
            background: {
                size: 130%;
                position: center;
            }
            transition: background-size 200ms ease-in-out;
            overflow: hidden;
            &:hover {
                // transform: scale(1.2);
                background-size: 150%;
            }
        }
        div:nth-child(1) {
            background-image: url(../img/page-1_img8.jpg);
        }
        div:nth-child(2) {
            background-image: url(../img/page-1_img9.jpg);
        }
        div:nth-child(3) {
            background-image: url(../img/page-1_img10.jpg);
        }
        div:nth-child(4) {
            background-image: url(../img/page-1_img11.jpg);
        }
        div:nth-child(5) {
            background-image: url(../img/page-1_img12.jpg);
        }
        div:nth-child(6) {
            background-image: url(../img/page-1_img8.jpg);
        }
        div:nth-child(7) {
            background-image: url(../img/page-1_img9.jpg);
        }
    }
}

.flex {
	.util-nav {
		background-image: url(../img/patt1.png);
		display: flex;
		h1 {
			color: $logo;
			margin-bottom: 0;
			margin-right: auto;
		}
		ul {
			display: flex;
		}
		li {
			display: inline-flex;
			i {
				margin: 0 10px;
				font-size: 2em;
				color: $comp;
			}
		}
	}
	nav {
		background-color: $black;
		color: $white;
		ul {
			display: inline-flex;
			flex-direction: row;
			justify-content: flex-start;
			width: 100%;
			li {
				text-align: center;
				font-size: 1.1em;
				font-weight: 100;
				text-transform: uppercase;
				&:hover {
					background-color: $key;
				}
			a{
				display: block;
				padding: 25px 30px;
				}
			}
		}
	}
	.cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 25vw;
		color: $white;
		background: {
			image: url(../img/page-1_slide2.jpg);
			size: cover;
			position: center;
		}
		h2 {
			font-size: 2em;
			text-transform: uppercase;
		}
	}
	&.promos {
		display: flex;
		justify-content: center;
		padding: 75px 0;
		div {
			width: 20%;
		}
	}
	&.features {
		display: flex;
		justify-content: center;
		padding: 75px 0;
		text-align: center;
		div {
			width: 30%;
			i {
				// display: inline-flex;
				// justify-content: center;
				// align-items: center;
				line-height: 3em;
				color: $comp;
				font-size: 3em;
				width: 3em;
				height: 3em;
				border: 1px solid $comp;
				border-radius: 50%;
				margin-bottom: 40px;
			}
		}
	}
	&.about {
        @include content(5vw);
        display: flex;
        div:first-child {
            flex: 1;
        }
        div:last-child {
            flex: 2;
        }
    }
    &.fixed1,
    &.fixed2 {
        padding: 150px 0;
        background:{
            image: url(../img/parallax1-1.jpg);
            size: cover;
            position: center;
            repeat: no-repeat;
            attachment: fixed;
        }
        h1 {
            text-align: center;
            color: $white;
            font-size: 4em;
            font-weight: 100;
        }
    }
    &.do {
        @include content(5vw);
        span {
            display: flex;
        }
        h1 {
            color: $key;
            text-align: center;
            font-size: 4em;
        }
        img {
            width: 100%;
            height: auto;
        }
        div {
            padding: 5%;
            a {
            	color: $comp;
            	&:hover {
            		color: $key;
            	}
            }
        }
    }
    &.product {
        display: flex;
        @include content(5vw);
        background-color: $litgray;
        h3 {
            text-transform: uppercase;
            font-size: 2em;
        }
        img {
            width: 100%;
            height: auto;
        }
        div:first-child {
            flex: 1;
        }
        div:last-child {
            flex: 2;
        }
        .btn {
        	color: $white;
        	background-color: $key;
        	&:hover{
        		background-color: $white;
        		color: $key;
        		border: 1px solid $key;
        	}
        }
    }
    &.fixed2 {
        background-image: url(../img/parallax1-1.jpg);
    }
    &.news {
        @extend %clearfix;
        @include content(5vw);
        h1 {
            color: $key;
            font-size: 4em;
            text-align: center;
        }
        img {
            width: 100%;
            height: auto;
        }
        div {
            padding: 5%;
            width: 33%;
            float: left;
            box-sizing: border-box;
            .btn {
            	color: $white;
            	background-color: $comp;
            	&:hover{
            		color: $comp;
            		background-color: $white;
            		border: 1px solid $comp;
            	}
            }
        }
    }
    &.hovers {
        display: flex;
        div {
            flex: 1;
            height: (100vw / 7);
            background: {
                size: 130%;
                position: center;
            }
            transition: background-size 200ms ease-in-out;
            overflow: hidden;
            &:hover {
                // transform: scale(1.2);
                background-size: 150%;
            }
        }
        div:nth-child(1) {
            background-image: url(../img/page-1_img8.jpg);
        }
        div:nth-child(2) {
            background-image: url(../img/page-1_img9.jpg);
        }
        div:nth-child(3) {
            background-image: url(../img/page-1_img10.jpg);
        }
        div:nth-child(4) {
            background-image: url(../img/page-1_img11.jpg);
        }
        div:nth-child(5) {
            background-image: url(../img/page-1_img12.jpg);
        }
        div:nth-child(6) {
            background-image: url(../img/page-1_img8.jpg);
        }
        div:nth-child(7) {
            background-image: url(../img/page-1_img9.jpg);
        }
    }
}