header {
  border-bottom: 2px solid black;
}
header h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
}
header ul {
  text-align: center;
  margin-top: 0;
}
header ul li {
  display: inline;
  padding: 10px;
}

main {
  margin-top: 5px;
  border-top: 2px solid black;
}
main h3 {
  text-transform: uppercase;
  margin-left: 40px;
}
main h4 {
  margin-bottom: 0;
}
main h5 {
  margin-top: 0;
}

.first {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 60px;
}
.first .col9 {
  width: 75%;
}
.first .col12 {
  margin-top: 20px;
}
