/* put your scss answe-ars here */
ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

$items: 40
$hue-val: (360 / $items);
@for $i from 1 through $items {
	$hue: ($hue-val * $1);
	li:nth-of-type (#{$1}){
		&:hover {
			background-image: linear-gradient
		}
	}
}

li {
	counter-increment: step-counter;
}

li::before {
	content: counter(step-counter);
}

