body {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  height: 100px;
}
header .container {
  width: 80%;
  margin: 0 auto;
}
header .container #logo {
  float: left;
  margin: 0 auto;
}
header .container #logo h1 {
  text-transform: uppercase;
  font-size: 250%;
}
header .container a {
  text-decoration: none;
  color: black;
}
header nav {
  float: right;
}
header nav ul {
  margin: 25px auto;
}
header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 110%;
  padding: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #333333;
}

.pic {
  background-image: url(../image/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 200px;
}
