@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

$drkgray: hsla(222, 10%, 33%, 1);
$gray: lighten($drkgray, 10);
$litgray: lighten($drkgray, 50);
$keycolor: hsla(161, 100%, 35%, 1);
$drkblue: hsla(209, 53%, 52%, 1);
$litblue: lighten($drkblue, 10);
$white: hsla(0, 0%, 100%, 1);
$black: hsla(223, 13%, 27%, 1);

%clearfix {
    &::before, &::after {
        content: "";
        display: block;
        clear: both;
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    margin: 0;
    background-color: transparentize($litgray, .70);
}
ul, ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}
h1 {
    margin: 0;
    font-weight: 300;
}
h3 {
	display: inline-block;
	margin-left: 10px;
}
.btn {
    display: inline-block;
    padding: 0 15px;
    border-radius: 5px;
    font-weight: 600;
    &.btn-info {
        background-color: $white;
        padding: 5px 25px;
        border-radius: 5px;
        border: 2px solid $litgray;
    }
    &.btn-signup {
    	color: $white;
        background-color: $drkgray;
    }
}
header {
	background-color: $white;
    nav {
    	margin-bottom: 100px;
        @extend %clearfix;
        h1 {
            float: left;
            line-height: 3em;
            font-size: 1em;
        }
        ul {
            float: right;
        }
        li {
            display: inline-block;
            line-height: 3em;
            font-size: 1em;
            a {
            	color: transparentize($drkgray, .50);
                transition: color 200ms ease-in-out;
                &:hover {
                    color: $keycolor;
                }
            }
        }
    }
}
main {
	background-color: $white;
	margin: 0 5% 8%;
	border-radius: 10px;
	padding-bottom: 25px;
	@extend %clearfix;
	h1 {
		padding-top: 50px;
		text-align: center;
		color: $drkgray;
		font-weight: 700;
	}
	section > p {
		padding-top: 25px;
		text-align: center;
		color: $gray;
	}
	#right {
		width: 30%;
		float: right;
		div {
			margin-right: 20%;
			padding: 40px 0;
			float: left;
			h3 {
			display: block;
			color: $gray;
			}
			p {
				padding: 20px 0;
			}
		}
		img {
			margin-bottom: 40px;
		}
		hr {
			width: 95%;
			margin-right: 20%;
		}
	}
	#left {
		width: 55%;
		float: left;
		margin-left: 5%;
	}
	img {
		width: 95%;
		margin: 40px 0;
		border-radius: 10px;
	}
	h3 {
		margin-left: 0;
		color: $drkgray;
	}
	ul {
		margin-left:3%;
	}
	p, li {
		color: $gray;
		line-height: 2;
	}
}
@media screen and (max-width: 766px){
	main {
		width: 85%;
		margin: 0 auto;
		padding: 0 20px;
		#left {
			float: none;
			width: 100%;
			margin: 0 auto;
		}
		img {
			width: 80%;
			margin-bottom: 30px;
			display: block;
			margin: 0 auto 30px;
		}
		#right {
			float: none;
			width: 100%;
			div {
				float: none;
				margin: 0 auto;
			}
			img {
				width: 100%;
				display: block;
				margin: 0 auto 30px;
			}
		}
	}
}

// FOOTER styles start
footer {
	background-color: $drkgray;
	color: $white;
	padding: 75px 0;
	.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 700;
    	&.btn-info {
        	background-color: $gray;
    	}
	}
	div {
		width: 30%;
		float: left;
		margin: 0 5% 75px 0;
		&:last-of-type {
			margin-right: 0;
		}
	}
	>p {
		width: 100%;
		clear: both;
		margin: 50px 0;
	}
}
@media screen and (max-width: 766px) {
	footer {
		div{
			width: 100%;
			float: none;
		}
	}
}
// FOOTER styles end