.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("https://images.unsplash.com/photo-1415931633537-351070d20b81?q=80&fm=jpg&s=fb26af809d5b68ba0d269eaf41f7816c");
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: blur(5px);
}

a {
  background-image: linear-gradient(to top, #7ab8b8, rgba(122, 184, 184, 0.5));
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #59a6a6;
  font-size: 150%;
  width: 200px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin: 50px 10px 20px;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  float: right;
  transition: all 1s ease-in-out;
  text-shadow: 0 -1px 1px #59a6a6, 0 1px 1px white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
a:hover {
  background-color: rgba(122, 184, 184, 0.25);
}

a:nth-of-type(2) {
  background-image: linear-gradient(to top, #b87a7a, rgba(184, 122, 122, 0.5));
  border: 1px solid #b87a7a;
  text-shadow: 0 -1px 1px #a65959, 0 1px 1px white;
}
a:nth-of-type(2):hover {
  background-color: rgba(184, 122, 122, 0.25);
}

form {
  width: 550px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  margin: 25% auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("https://images.unsplash.com/photo-1415931633537-351070d20b81?q=80&fm=jpg&s=fb26af809d5b68ba0d269eaf41f7816c");
}
form input {
  display: block;
  padding: 10px;
  font-size: 200%;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
}
