@import "layout";

footer {
	p {
		margin: 0;
		padding-top: 5px;
	}
}

div{
	box-sizing: border-box;
}

div.row { 
	margin: 50px 25px;
	li {
		display: flex;
		justify-content: space around;
	}
	h3 {
		font-size: 120%;
		margin-bottom: 0;
		margin-top: 0;
	}
	p{
		margin-top: 0;
	}
}

li.col6{
	display: flex;
	float: left;
	width: 45%;
	img {
			width: 35%;
			height: 100px;
			margin: 5px;
			border-radius: 5px;
		}
}

li.col12{
	display: flex;
	width: 45%;
	img {
			width: 35%;
			height: 100px;
			margin: 5px;
			border-radius: 5px;
		}
}

.list {
	display: flex;
	justify-content: space-around;
	width: (100% / 2);
	margin: 50px 250px;
	h2 {
		padding: 20px;
	}
	li {
		line-height: 2;
	}
}







