body {
    background-color: hsla(0, 0%, 0%, .25);
    margin: 0;
}
div {
    background-color: hsla(0, 0%, 100%, 1);
    width: 50vw;
    height: 50vw;
    margin: 50px auto;
    position: relative;
    img {
        width: 25%;
        height: auto;
        position: absolute;
        // left: 0;
        // top: 0;

    }
    .cat-1 {
        left: 0;
        right: 0;
    }
    .cat-2 {
        left: auto;
        right: 0;
    }
    .cat-3 {
        left: 0;
        bottom: 0;
    }
    .cat-4 {
        bottom: 0;
        right: 0;
    }
    .cat-5 {
        left: 40%;
        top: 35%;
    }
    .cat5 {
        left: 0;
        top: 35%;
    }
    .cat6 {
        right: 0;
        top: 35%;
    }

}
div::after {
    content: "";
    display: block;
    // background-color: purple;   /* DONT KNOW THIS PART JUST SHOWING HOW IT WORKS */
    height: 5px;    /* DONT KNOW THIS PART JUST SHOWING HOW IT WORKS */
    clear: both;
} 