.clearfix::before,
.clearfix::after {
				content: "";
				display: block;
				clear: both;
}

*, *::before, *::after {
		box-sizing: border-box;
}
/*
html, body {
				height: 100%;
}

body {
		margin: 0;
		background-image: linear-gradient(to top, #ccc, #fff;)

}

div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 100%;
		left: 0;
		background-color: (0, 0%, 0%, .5);
		transition: all 250ms ease-in-out;
}

ul {
		padding: 0;
		margin: 0;
		list-style: none;
}

ul li {
		float: left;
		display: inline-block;
		width: 33.3333%;
		margin: 0;

}

figure {
		margin: 0;
		position: relative;
		overflow: hidden;
}

img {	
		width: 100%;
		float: left;
}

figcaption {
		position: absolute;
		bottom: -50%;
		padding: 10px;
		width: 100%;
		color: white;
		text-align: center;
		transition: all 250ms ease-in-out;
}

a {
		display: block;
		width: 50%;
		height: 40px;
		margin: -50% auto 0;
		border: 2px solid white;
		text-align: center;
		color: white;
		text-decoration: none;
		background-color: hsla(0, 0%, 100%, .25);
		line-height: 40px;
		transition: all 250ms ease-in-out;
}

ul li:hover a {
		margin-top: 50%;
}

a:hover {
		border-color: hsla(40, 100%, 50%, 1);
		background-color: hsla(40, 100%, 50%, .25);
}

ul li:hover div {
		bottom: 0;
		opacity: 
}

ul li:hover figcaption {
		bottom: 0;
}



h1 {
		font-size: 400%;
		transition: all 1000ms ease-in-out;
}

h1:hover {
		color: purple;
		font-size: 450%;
		transition: all 250ms ease-in-out;
}
*/
input:focus {
		background-color: teal;
}

a {
	color: green;
}

a:link {
	color: purple;
}
a:visited {
	color: pink;
}

a:active {
	color: blue;
}

a:hover {
	color: red;
}
