@import "variables";
@import "reset";
@import "fontawesome";

@import url(https://fonts.googleapis.com/css?family=Playball|Playfair+Display:400italic);

$albums: art assembly autonomy barbedflower clock colorized kitten form grandfloral loader maze music lights switch typing;

header {
	background-color: transparentize($green, .3);
	padding-top: 50px;
	.nav {
		display: flex;
		background-color: $drkmagenta;
		width: 100%;
		position: fixed;
		top: 0;
		h1 {
			flex: 2;
			margin: 1%;
			color: white;
			font-family: 'Playball', cursive;
			&:hover {
				color: $green;
			}
		}
		ul {
			display: inline-flex;
			li {
				padding: 10px 30px;
				font-size: 1.5em;
				font-family: 'Playfair Display', serif;
				a {
					color: white;
					&:hover {
						color: $green;
						display: block;
						border-radius: 5px;
						cursor: pointer;
					}
				}
			}
		}
	}
	.heading {
		text-align: center;
		color: $magenta;
		h1 {
			font-family: 'Playball', cursive;
		}
		img {
			border-radius: 50%;
			width: 30%;
			display: block;
			margin: 50px auto;
		}
		h4 {
			display: inline-flex;
			justify-content: space-between;
			padding: 0 20px;
			margin-bottom: 50px;
			font-family: 'Playfair Display', serif;
		}
	}
}
#portfolio {
	text-align: center;
	width: 100%;
	h1 {
		color: $green;
		margin-top: 50px;
		font-family: 'Playball', cursive;
	}
	.pics {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding: 20px 0;
		@each $album in $albums {
            $i: index($albums, $album);
            div:nth-of-type(#{$i}){
                background-image: url("../img/album-#{$album}.jpg");
                background-size: cover;
                background-position: center;
            }
            div:first-of-type{
            	background-position: top;
            }
        }
        div {
        	width: 25%;
        	height: 175px;
        	margin: 15px;
        	a {
        		display: flex;
        		width: 100%;
        		justify-content: center;
        		font-size: 1.2em;
        		text-transform: uppercase;
        		color: $green;
        		background-color: $drkmagenta;
        	}
        }
	}
}

#about {
	text-align: center;
	background-color: transparentize($green, .3);
	h1 {
		color: $magenta;
		padding-top: 50px;
		font-family: 'Playball', cursive;
	}
	div {
		display: flex;
		width: 100%;
		p {
			display: block;
			margin: 1% auto;
			padding: 20px;
			text-align: left;
		}
	}
}
#contact {
	text-align: center;
	margin-top: 50px;
	h1 {
		color: $green;
		font-family: 'Playball', cursive;
	}
	div {
		display: flex;
		justify-content: space-around;
		address {
			padding: 20px;
			flex: 1;
			i {
				width: 2em;
				height: 2em;
				line-height: 2em;
				color: $magenta;
				font-size: 2em;
				border-radius: 50%;
				margin-bottom: 20px;
				border: 2px solid $green;
			}
		}
	}
}
footer {
	background-color: $drkmagenta;
	color: white;
	text-align: center;
	margin: 0;
	padding-bottom: 0;
	p {
		padding: 10px;
	}
	div {
		background-color: $magenta;
		color: $green;
		padding: 20px;
		ul {
			display: inline-flex;
			li {
				padding: 0 20px;
				a {
					color: $green;
					transition: all 200ms ease-in-out;
					&:hover {
						color: white;
						font-size: 30px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 766px){
	header {
		.nav {
			display: flex;
			flex-direction: column;
			h1 {
				padding: 0;
				margin: 0;
				font-size: 1.2em;
			}
			ul {
				display: inline-flex;
				li {
					padding: 10px;
					font-size: 1em;
				}
			}
		}
		.heading {
			margin: 10px auto;
			img {
				margin: 25px auto;
			}
			h1 {
				margin: 0;
				padding: 0;
			}
			h4 {
				margin-bottom: 10px;
				padding: 0 5px;
			}
		}
	}
	#portfolio {
		.pics {
			@each $album in $albums {
            	$i: index($albums, $album);
            	div:nth-of-type(#{$i}){
                	background-image: none;
           	 	}
           	 	div {
           	 		height: auto;
           	 		width: 100%;
           	 		margin: 5px;
           	 		a {
           	 			display: block;
           	 			font-size: 1em;
						background-color: transparent;
						&:hover {
							color: $drkmagenta;
						}
           	 		}
           	 	}
       		}
		}
	}
	#about {
		div{display: block;
			width: 100%;
			p {
				padding: 5px;
			}
		}
	}
	#contact {
		div {
			display: block;
		}
	}
}