@import "variables";
@import "reset";
@import "fontawesome";

html, body {
	height: 100%;
	font-size: 100%;
	font-family: sans-serif;
	font-weight: 200;
	display: flex;
	justify-content: center;
	align-items: center;
}

textarea{
	font-size: 1.5em;
}
main {
	height: 100%;
	padding: 10vw 5vw;
	div {
		display: flex;
			p:last-child{
				color: red;
		}
	}
}