%clearfix {
	&::before,
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
body {
	margin: 0;
}
header {
	h1 {
		color: white;
		font-size: 2em;
		flex: 2;
		margin-top: 0;
	}
	nav {
		background-color: #1f0600;
		display: flex;
		padding: 40px 0;
		ul {
			list-style: none;
			display: inline-flex;
			margin-top: 0;
			li {
				padding: 20px 30px;
				font-size: 1.2em;
				a {
					text-decoration: none;
					color: white;	
				}
			}
		}
	}
}
div {box-sizing: border-box;}

div.row {
	display: flex;
	h2, p {
		color: hsla(14, 44%, 56%, 1);
	}
}

div[class^="col-"] {
	padding: 10px;
	background-color: hsla(14, 38%, 16%, 1);
}

div.col-3 {
	width: 25%;
	ul {
		list-style: none;
		li {
			display: flex;
			padding: 20px 0;
			img {
				width: 50%;
			}
		}
	}
}

div.col-6 {
	width: 50%;
}
.ending {
	display: flex;
	background-color: hsla(14, 38%, 11%, 1);
	color: hsla(15, 38%, 34%, 1);
	.para {
		width: 60%;
		margin: 50px;
		h2 {
			color: hsla(14, 44%, 56%, 1);
		}
	}
	.list {
		margin: 50px 0;
		h2 {
			margin-left: 45px;
			color: hsla(14, 44%, 56%, 1);
		}
		ul {
			list-style: none;
			li {
				a {
					display: block;
					color: hsla(15, 38%, 34%, 1);
					padding: 5px;
				}
			}
		}
	}
}
footer {
	text-align: center;
	padding: 25px;
	background-color: #1f0600;
	color: hsla(15, 38%, 34%, 1);
}
@media screen and (max-width: 766px){
	header {
		h1 {
			flex: 1;
		}
		nav {
			padding: 0;
			ul {
				display: block;
				li {
					padding: 0;
				}
			}
		}
	}
	div.row {
		display: block;
	}
	div[class^="col-"]{
		padding: 0;
	}
	div.col-3 {
		width: 100%;
	}
	div.col-6 {
		width: 100%;
		img {
			width: 95%;
		}
	}
	.ending {
		display: block;
		width: 100%;
		.para {
			width: 95%;
			margin: 0;
			text-align: center;
		}
	}
}