@import "variables";
@import "reset";
@import "fontawesome";

body {
	background-color: $white;
	color: $black;
	padding: 10vw 5vw;
}

header {
	background-color: $black;
	color: $white;
	nav {
		display: flex;
		img {
			transition: all 500ms ease-in-out;
		}
		a {
			display: inherit;
			margin: 0 auto 0 0;
			display: inherit;
			align-items: center;
			padding: 10px;
		}
		ul {
			display: inherit;
			li {
				display: inherit;
				a {
				display: inherit;
				align-items: center;
				padding: 10px;
				}
			}
		}
	}
	&.fixie {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		img {
			width: 100px;
			height: 50px;
		}
	}
}

main {
	background-color: darken($white, 5);
	padding: inherit;
}