.bottom {
  background-color: #121212;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}
.bottom #col3 {
  width: 25%;
}
.bottom #col3 div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 25px 10px 25px;
  margin-top: 30px;
}
.bottom #col3 div img {
  padding: 0 10px;
}
.bottom #col3 div p {
  color: #8e8588;
  margin-top: 0;
}
.bottom #col3 small {
  color: #8e8588;
  margin-left: 40px;
}
.bottom #col12 {
  width: 50%;
  padding: 20px;
  margin: 0 40px;
}
.bottom #col12 h1 {
  color: white;
  font-size: 50px;
}
.bottom #col12 p {
  color: #8e8588;
  line-height: 1.5;
}
.bottom #col12 a {
  color: red;
}
.bottom #col12 .link p {
  line-height: 2;
}

footer {
  background-color: black;
  color: #2b2b2b;
  text-align: center;
  font-size: 20px;
  padding: 50px;
}
footer span {
  color: #8e8588;
}

header {
  background-image: url(../image/header.jpg);
  background-size: cover;
  background-position: center;
}
header h1, header h3 {
  text-align: center;
  text-transform: uppercase;
}
header h1 {
  font-size: 50px;
  color: #323339;
  margin-bottom: 0;
}
header h3 {
  margin-top: 0;
  color: #8e8588;
}
header nav {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  padding-bottom: 150px;
}
header nav ul {
  background-color: #121212;
  border-radius: 40px;
  padding: 25px 0;
  width: 100%;
}
header nav ul li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: inline;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px;
}
header nav ul li a {
  color: #7a7a7a;
  text-decoration: none;
}
header nav ul li span {
  color: white;
}

main {
  background-image: url(../image/overlay.png);
  padding-bottom: 50px;
}
main h1, main h3 {
  margin: 10px 65px;
}
main h1 {
  padding-top: 50px;
  font-size: 50px;
}
main h3 {
  text-transform: uppercase;
  padding-bottom: 50px;
}
main img {
  width: 85%;
  margin: 20px 65px;
}
main p {
  margin: 20px 65px;
  line-height: 2;
}
