.one::before, div.row::before, div.col-3::before, .one::after, div.row::after, div.col-3::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 250%;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: black;
  color: #b3b3b3;
  font-size: 20px;
}

header {
  background-image: url(../image/banner.jpg);
  background-size: cover;
}
header h1 {
  padding-top: 100px;
  text-align: center;
  font-size: 350%;
  text-transform: uppercase;
}
header img {
  padding-bottom: 0;
  padding-left: 80px;
}
header nav {
  margin-top: 0;
  margin-left: 80px;
  margin-right: 73px;
  background-color: #262626;
  text-align: center;
  height: 70px;
}
header nav li {
  list-style: none;
  display: inline;
  font-size: 110%;
  text-transform: uppercase;
  line-height: 3.5;
  padding: 15px;
  border-right: 1px solid gray;
}
header nav li:last-of-type {
  border-right: none;
}
header nav a {
  color: white;
  text-decoration: none;
}

#white {
  height: 600px;
}
#white h1 {
  padding: 50px 50px 0 50px;
}

.one {
  margin-left: 25px;
  width: 30%;
  float: left;
}
.one img {
  padding-top: 30px;
}
.one dd {
  text-align: left;
  margin-left: 0;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
}
.one a {
  padding-left: 85px;
}
.one button {
  height: 50px;
  background-color: #2f7c09;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  color: white;
  border-radius: 15px;
}

div {
  box-sizing: border-box;
}

div.row {
  background-color: whitesmoke;
}
div.row h2 {
  padding-left: 75px;
  margin-top: 75px;
  font-size: 160%;
  text-transform: uppercase;
}

div.col-3 {
  width: 25%;
  float: left;
}
div.col-3 img {
  margin: 20px;
  float: left;
}
div.col-3 li {
  border-bottom: 1px solid lightgray;
  margin-left: 10px;
  margin-right: 30px;
  list-style: none;
  padding: 10px;
}
div.col-3 li:last-of-type {
  border-bottom: none;
}

div.col-6 {
  width: 50%;
  float: left;
}
div.col-6 p {
  line-height: 1.5;
  font-size: 110%;
  padding-right: 60px;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: black;
  color: #b3b3b3;
  font-size: 20px;
}
