@import "variables";
@import "reset";
@import "fontawesome";

main {
	position: relative;
	.time {
		position: absolute;
		top: 0;
		left: 24%;
		width: 5.3vw;
		height: auto;
		transform: translate3d(-24%, 0, 0) rotate(0deg);
	}
	img {
		width: 50%;
		height: auto;
	}	
}
