.bottom {
	background-color: hsla(0, 0%, 7%, 1);
	display: flex;
	padding: 20px;
	#col3 {
		width: 25%;
		div {
			display: flex;
			padding: 25px 25px 10px 25px;
			margin-top: 30px;
			img {
				padding: 0 10px;
			}
			p {
				color: hsla(340, 4%, 54%, 1);
				margin-top: 0;
			}
		}
		small {
			color: hsla(340, 4%, 54%, 1);
			margin-left: 40px;
		}
	}
	#col12 {
		width: 50%;
		padding: 20px;
		margin: 0 40px;
		h1{
			color: white;
			font-size: 50px;
		}
		p {
			color: hsla(340, 4%, 54%, 1);
			line-height: 1.5;
		}
		a {
			color: hsla(0, 100%, 50%, 1);
		}
		.link {
			p {
				line-height: 2;
			}
		}
	}
}

footer {
	background-color: darken(hsla(0, 0%, 7%, 1), 20); 
	color: lighten(hsla(0, 0%, 7%, 1), 10);
	text-align: center;
	font-size: 20px;
	padding: 50px;
	span {
		color: hsla(340, 4%, 54%, 1); 
	}
}