body {
	background-image: url(../image/bg.jpg);
}
header {
	color: white;
	h1 {
		margin-left: 10%;
		float: left;
	}
	nav {
		ul {
			float: right;
			li {
				display: inline;
				font-size: 1.3em;
				a {
					color: white;
					text-decoration: none;
					padding: 10px;
				}
			}
		}
	}
}