@import "layout";
@import "partial";

main {
	background-image: url(../image/overlay.png);
	padding-bottom: 50px;
	h1, h3{
		margin: 10px 65px;
	}
	h1 {
		padding-top: 50px;
		font-size: 50px;
	}
	h3 {
		text-transform: uppercase;
		padding-bottom: 50px;
	}
	img {
		width: 85%;
		margin: 20px 65px;
	}
	p {
		margin: 20px 65px;
		line-height: 2;
	}
}